body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,.layout,#root {height: 100%;}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.siderStyle {
  text-align: center;
  color: #fff;
  background-color: #3ba0e9;
}

.footerStyle {
  text-align: center;
  color: #fff;
  background-color: #7dbcea;
}

.contentStyle {
  text-align: center;
  color: #fff;
  background-color: #108ee9;
}